@font-face {
  font-family: "Indie Flower";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Indie Flower"), local("IndieFlower"),
    url(IndieFlower-Regular.ttf) format("ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.title-page {
  text-align: center;
  page-break-before: left;
  page-break-after: left;
  color: darkblue;
  margin: 0;
}

.impressum {
  position: absolute;
  bottom: 2em;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  color: grey;
  zoom: 0.8;
}

.title-large {
  text-align: center;
  page-break-before: left;
  page-break-after: left;
  color: darkblue;
  margin: 0;
  zoom: 2;
}

.page-break-before {
  page-break-before: left;
  page-break-after: left;
}

img {
  width: 100% !important;
  height: auto !important;
}

.infobox {
  background-color: rgb(223, 229, 243);
  border-radius: 0.5em;
  border: 0.12em solid rgb(136, 158, 247);
  color: black;
  display: block;
  margin: 1em 0;
  padding: 1em;
  font-family: "Indie Flower", cursive;
  font-size: 26px;
}

.newspaper {
  background-color: #b7b8bb;
  color: black;
  border-radius: 1.3em;
  border: 0.12em solid black;
  padding: 1em;
  margin: 1em 0;
}

.terminal {
  background-color: #222;
  color: rgb(180, 255, 180);
  padding: 1em;
  margin: 1em 0;
  font-family: "Courier New";
  zoom: 0.82;
  text-align: left;
}

.handwritten {
  background-color: #f1f1f1;
  color: black;
  border-radius: 1.2em;
  border: 0.12em rgb(212, 212, 212);
  padding: 1em;
  margin: 1em 0;
  font-family: "Indie Flower", cursive;
  font-size: 1.1em !important;
  text-align: left;
}

.first-words {
  font-variant: small-caps;
}

ul {
  margin: 1em;
}

ol {
  margin: 1em;
}
